{{- if .Values.standaloneCollector.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "opentelemetry-collector.fullname" . }}
  labels:
    {{- include "opentelemetry-collector.labels" . | nindent 4 }}
    component: standalone-collector
  {{- if .Values.service.annotations }}
  annotations:
    {{ toYaml .Values.service.annotations | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  {{- if .Values.service.clusterIP }}
  clusterIP: {{ .Values.service.clusterIP }}
  {{- end }}
  ports: {{ include "opentelemetry-collector.standalonePortsConfig" . | nindent 4 }}
  selector:
    {{- include "opentelemetry-collector.selectorLabels" . | nindent 4 }}
    component: standalone-collector
{{- end }}
