apiVersion: v2
type: application
name: opentelemetry-demo
version: 0.6.2
description: opentelemetry demo helm chart
home: https://opentelemetry.io/
sources:
  - https://github.com/open-telemetry/opentelemetry-demo
maintainers:
  - name: dmitryax
  - name: tylerhelmuth
  - name: wph95
icon: https://opentelemetry.io/img/logos/opentelemetry-logo-nav.png
appVersion: "0.5.0-alpha"
dependencies:
  - name: opentelemetry-collector
    version: 0.35.0
    repository: https://open-telemetry.github.io/opentelemetry-helm-charts
    condition: observability.otelcol.enabled
