apiVersion: v2
type: application
name: opentelemetry-demo
version: 0.3.0
description: opentelemetry demo helm chart
home: https://opentelemetry.io/
sources:
  - https://github.com/open-telemetry/opentelemetry-demo
maintainers:
  - name: dmitryax
  - name: tylerhelmuth
  - name: wph95
icon: https://opentelemetry.io/img/logos/opentelemetry-logo-nav.png
appVersion: "0.4.0-alpha"
