apiVersion: v2
type: application
name: opentelemetry-demo
version: 0.11.1
description: opentelemetry demo helm chart
home: https://opentelemetry.io/
sources:
  - https://github.com/open-telemetry/opentelemetry-demo
maintainers:
  - name: dmitryax
  - name: puckpuck
  - name: tylerhelmuth
icon: https://opentelemetry.io/img/logos/opentelemetry-logo-nav.png
appVersion: "1.0.0"
dependencies:
  - name: opentelemetry-collector
    version: 0.38.0
    repository: https://open-telemetry.github.io/opentelemetry-helm-charts
    condition: observability.otelcol.enabled
  - name: prometheus
    version: 15.16.1
    repository: https://prometheus-community.github.io/helm-charts
    condition: observability.prometheus.enabled
  - name: grafana
    version: 6.42.2
    repository: https://grafana.github.io/helm-charts
    condition: observability.grafana.enabled
