
#####################################################
#
# List of approvers for OpenTelemetry Helm
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/main/community-membership.md
#
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#
*  @oded-dd @nicolastakashi @coralogix/team-eco-system

charts/opentelemetry-ebpf-instrumentation @coralogix/anemia
