  
#####################################################
#
# List of approvers for OpenTelemetry Helm
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/main/community-membership.md
# 
#
# Learn about CODEOWNERS file format: 
#  https://help.github.com/en/articles/about-code-owners
#

* @open-telemetry/helm-approvers

charts/opentelemetry-collector/ @open-telemetry/helm-approvers @dmitryax @TylerHelmuth
charts/opentelemetry-operator/  @open-telemetry/helm-approvers @Allex1
charts/opentelemetry-demo/      @open-telemetry/helm-approvers @puckpuck
