targetAllocator:
  config:
    allocation_strategy: consistent-hashing
    collector_selector:
      namespace: default
      matchlabels:
        app.kubernetes.io/component: agent-standalone
    prometheus_cr:
      enabled: true
      scrapeInterval: 30s
      # An empty value means any service monitor will be accepted.
      service_monitor_selector: {}
      # An empty value means any pod monitor will be accepted.
      pod_monitor_selector: {}

    filter_strategy: relabel-config
