mode: daemonset

presets:
  spanMetricsMulti:
    enabled: true
    defaultHistogramBuckets: [1ms, 4ms, 10ms, 20ms, 50ms, 100ms, 200ms, 500ms, 1s, 2s, 5s]
    collectionInterval: 30s
    metricsExpiration: 5m
    aggregationCardinalityLimit: 100
    extraDimensions:
      - name: http.method
      - name: cgx.transaction
      - name: cgx.transaction.root
    configs:
      - selector: route() where attributes["service.name"] == "one"
        histogramBuckets: [1s, 2s]
      - selector: route() where attributes["service.name"] == "one"
        histogramBuckets: [5s, 10s]
