mode: deployment

image:
  repository: "ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector-k8s"

resources:
  limits:
    cpu: 100m
    memory: 200M

config:
  service:
    telemetry:
      metrics:
        address: example.com:8888
      resource:
        "k8s.namespace.name": "default"
