mode: deployment

image:
  repository: "ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector-k8s"

command:
  name: "otelcol-k8s"

presets:
  clusterMetrics:
    enabled: true

resources:
  limits:
    cpu: 100m
    memory: 200M
