# This file is used in CI to test the kubernetesEvents preset in daemonset mode
mode: daemonset

image:
  repository: otel/opentelemetry-collector-k8s

presets:
  kubernetesEvents:
    enabled: true

# Minimal config for testing
config:
  exporters:
    debug:
      verbosity: detailed
