mode: deployment

image:
  repository: "ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector-k8s"

command:
  name: "otelcol-k8s"

extraManifests:
  - apiVersion: apiextensions.k8s.io/v1
    kind: CustomResourceDefinition
    metadata:
      name: verticalpodautoscalers.autoscaling.k8s.io
    spec:
      group: autoscaling.k8s.io
      names:
        kind: VerticalPodAutoscaler
        plural: verticalpodautoscalers
        shortNames:
          - vpa
        singular: verticalpodautoscaler
      scope: Namespaced
      versions:
        - name: v1
          served: true
          storage: true
          schema:
            openAPIV3Schema:
              type: object
              properties:
                spec:
                  type: object
                  x-kubernetes-preserve-unknown-fields: true
                status:
                  type: object
                  x-kubernetes-preserve-unknown-fields: true

verticalPodAutoscaler:
  enabled: true
  controlledResources:
    - cpu
    - memory
  maxAllowed:
    cpu: 2
    memory: 2Gi
  minAllowed:
    cpu: 100m
    memory: 128Mi
  updatePolicy:
    updateMode: Auto
    minReplicas: 2
