{{- if .Values.clusterRole.create }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    {{- include "opentelemetry-operator.labels" . | nindent 4 }}
    app.kubernetes.io/component: controller-manager
  name: {{ template "opentelemetry-operator.name" . }}-manager-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ template "opentelemetry-operator.name" . }}-manager-role
subjects:
  - kind: ServiceAccount
    name: {{ template "opentelemetry-operator.serviceAccountName" . }}-controller-manager
    namespace: {{ .Release.Namespace }}

{{ if .Values.kubeRBACProxy.enabled }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    {{- include "opentelemetry-operator.labels" . | nindent 4 }}
    app.kubernetes.io/component: controller-manager
  name: {{ template "opentelemetry-operator.name" . }}-proxy-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ template "opentelemetry-operator.name" . }}-proxy-role
subjects:
  - kind: ServiceAccount
    name: {{ template "opentelemetry-operator.serviceAccountName" . }}-controller-manager
    namespace: {{ .Release.Namespace }}
{{- end }}
{{ end }}
