apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: opentelemetry-operator
    control-plane: controller-manager
  name: {{ template "opentelemetry-operator.name" . }}-controller-manager
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: opentelemetry-operator
      control-plane: controller-manager
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        app.kubernetes.io/name: opentelemetry-operator
        control-plane: controller-manager
    spec:
      hostNetwork: {{ .Values.hostNetwork }}
      containers:
        - args:
            - --metrics-addr=0.0.0.0:{{ .Values.manager.ports.metricsPort }}
            {{- if .Values.manager.leaderElection.enabled }}
            - --enable-leader-election
            {{- end }}
            - --health-probe-addr=:{{ .Values.manager.ports.healthzPort }}
            {{- if or .Values.admissionWebhooks.create .Values.admissionWebhooks.secretName }}
            - --webhook-port={{ .Values.manager.ports.webhookPort }}
            {{- end }}
            {{- if and .Values.manager.collectorImage.repository .Values.manager.collectorImage.tag }}
            - --collector-image={{ .Values.manager.collectorImage.repository }}:{{ .Values.manager.collectorImage.tag }}
            {{- end }}
            {{-  if .Values.manager.extraArgs  }}
            {{- .Values.manager.extraArgs | toYaml | nindent 12 }}
            {{-  end  }}
          command:
            - /manager
          {{- if .Values.manager.env }}
          env:
            {{- range $name, $value := .Values.manager.env }}
            - name: {{ $name }}
              value: {{ $value | quote -}}
            {{- end }}
          {{- end }}
          image: "{{ .Values.manager.image.repository }}:{{ .Values.manager.image.tag }}"
          name: manager
          ports:
            - containerPort: {{ .Values.manager.ports.metricsPort }}
              name: metrics
              protocol: TCP
            {{- if or .Values.admissionWebhooks.create .Values.admissionWebhooks.secretName }}
            - containerPort: {{ .Values.manager.ports.webhookPort }}
              name: webhook-server
              protocol: TCP
            {{- end }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: {{ .Values.manager.ports.healthzPort }}
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: {{ .Values.manager.ports.healthzPort }}
            initialDelaySeconds: 5
            periodSeconds: 10
          resources: {{ toYaml .Values.manager.resources | nindent 12 }}
          {{- if or .Values.admissionWebhooks.create .Values.admissionWebhooks.secretName }}
          volumeMounts:
            - mountPath: /tmp/k8s-webhook-server/serving-certs
              name: cert
              readOnly: true
          {{- end }}
        {{ if .Values.kubeRBACProxy.enabled }}
        - args:
            - --secure-listen-address=0.0.0.0:{{ .Values.kubeRBACProxy.ports.proxyPort }}
            - --upstream=http://127.0.0.1:{{ .Values.manager.ports.metricsPort }}/
            - --logtostderr=true
            - --v=0
          image: "{{ .Values.kubeRBACProxy.image.repository }}:{{ .Values.kubeRBACProxy.image.tag }}"
          name: kube-rbac-proxy
          ports:
            - containerPort: {{ .Values.kubeRBACProxy.ports.proxyPort }}
              name: https
              protocol: TCP
          {{- with .Values.kubeRBACProxy.resources }}
          resources: {{ toYaml . | nindent 12 }}
          {{- end }}
        {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity: {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations: {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector: {{ toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ template "opentelemetry-operator.serviceAccountName" . }}-controller-manager
      terminationGracePeriodSeconds: 10
      {{- if or .Values.admissionWebhooks.create .Values.admissionWebhooks.secretName }}
      volumes:
        - name: cert
          secret:
            defaultMode: 420
            secretName: {{ default (printf "%s-controller-manager-service-cert" (include "opentelemetry-operator.name" .)) .Values.admissionWebhooks.secretName }}
      {{- end }}
      securityContext:
{{ toYaml .Values.securityContext | indent 8 }}
