apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ template "opentelemetry-operator.name" . }}-leader-election-role
  namespace: {{ template "opentelemetry-operator.namespace" . }}
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - ""
    resources:
      - configmaps/status
    verbs:
      - get
      - update
      - patch
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
