collectors:
  daemon:
    # disable Prometheus scrapping
    scrape_configs_file: ""
    presets:
      logsCollection:
        enabled: false
      kubeletMetrics:
        enabled: false
      hostMetrics:
        enabled: false
      kubernetesAttributes:
        enabled: false
      kubernetesEvents:
        enabled: false
      clusterMetrics:
        enabled: false
      annotationDiscovery:
        logs:
          enabled: false
        metrics:
          enabled: false
      resourceDetection:
        enabled: true
        kubernetesDetector: "generic"

