---
apiVersion: v1
kind: ConfigMap
metadata:
  name: collector-configmap
  namespace: default
data:
  relay: |
    exporters:
      debug:
        verbosity: detailed
    extensions:
      health_check:
        endpoint: ${env:MY_POD_IP}:13133
    processors:
      memory_limiter:
        check_interval: 5s
        limit_percentage: 80
        spike_limit_percentage: 25
    receivers:
      prometheus:
        target_allocator:
          endpoint: http://ta-opentelemetry-target-allocator-ta
          interval: 30s
          collector_id: ${env:K8S_POD_NAME}
    service:
      extensions:
      - health_check
      pipelines:
        metrics:
          exporters:
          - debug
          processors:
          - memory_limiter
          receivers:
          - prometheus
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: example-opentelemetry-collector
  namespace: default
  labels:
    my-collector: "true"
spec:
  replicas: 3
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      my-collector: "true"
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        my-collector: "true"
    spec:
      securityContext:
        {}
      containers:
        - name: opentelemetry-collector
          command:
            - /otelcol-k8s
          args:
            - --config=/conf/relay.yaml
          securityContext:
            {}
          image: "ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector-k8s:0.123.1"
          imagePullPolicy: IfNotPresent
          env:
            - name: MY_POD_IP
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: status.podIP
            - name: K8S_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: GOMEMLIMIT
              value: "128MiB"
          livenessProbe:
            httpGet:
              path: /
              port: 13133
          readinessProbe:
            httpGet:
              path: /
              port: 13133
          resources:
            limits:
              cpu: "1"
              memory: 256Mi
          volumeMounts:
            - mountPath: /conf
              name: opentelemetry-collector-configmap
      volumes:
        - name: opentelemetry-collector-configmap
          configMap:
            name: collector-configmap
            items:
              - key: relay
                path: relay.yaml
      hostNetwork: false
