{{- if eq .Values.mode "deployment" -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ template "helper.namespace" . }}
  name: {{ template "helper.fullname" . }}-ta
  labels:
    {{- include "helper.commonLabels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "helper.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- include "helper.configTemplateChecksumAnnotation" . | nindent 8 }}
        {{- if .Values.targetAllocator.podAnnotations }}
          {{- toYaml .Values.targetAllocator.podAnnotations | nindent 8 }}
        {{- end }}
      labels:
        {{- include "helper.commonLabels" . | nindent 8 }}
        {{- if .Values.targetAllocator.podLabels }}
        {{- toYaml .Values.targetAllocator.podLabels | nindent 8 }}
        {{- end }}
    spec:
      {{- include "helper.pod" . | nindent 6 }}
{{- end }}
