{{- if eq .Values.mode "statefulset" -}}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  namespace: {{ template "helper.namespace" . }}
  name: {{ template "helper.fullname" . }}-ta
  labels:
    {{- include "helper.commonLabels" . | nindent 4 }}
spec:
  serviceName: {{ template "helper.fullname" . }}-ta
  podManagementPolicy: {{ .Values.statefulset.podManagementPolicy }}
  replicas: {{ .Values.replicaCount }}
{{- if .Values.statefulset.persistentVolumeClaimRetentionPolicy.enabled }}
  persistentVolumeClaimRetentionPolicy:
    whenDeleted: {{ .Values.statefulset.persistentVolumeClaimRetentionPolicy.whenDeleted }}
    whenScaled: {{ .Values.statefulset.persistentVolumeClaimRetentionPolicy.whenScaled }}
{{- end }}
  selector:
    matchLabels:
      {{- include "helper.selectorLabels" . | nindent 6 }}
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      annotations:
        {{- include "helper.configTemplateChecksumAnnotation" . | nindent 8 }}
        {{- if .Values.targetAllocator.podAnnotations }}
          {{- toYaml .Values.targetAllocator.podAnnotations | nindent 8 }}
        {{- end }}
      labels:
        {{- include "helper.commonLabels" . | nindent 8 }}
        {{- if .Values.targetAllocator.podLabels }}
        {{- toYaml .Values.targetAllocator.podLabels | nindent 8 }}
        {{- end }}
    spec:
      serviceAccountName: {{ template "helper.targetAllocatorServiceAccountName" . }}
      automountServiceAccountToken: false
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: targetallocator
          image: {{ template "helper.dockerImageName" . }}
          ports:
            - containerPort: 8080
              name: http-port
          volumeMounts:
            - name: config-volume
              mountPath: /conf/
            - mountPath: /var/run/secrets/kubernetes.io/serviceaccount
              name: serviceaccount-token
              readOnly: true
          env: # Workaround for https://github.com/open-telemetry/opentelemetry-operator/pull/3976
            - name: OTELCOL_NAMESPACE
              value: {{ .Values.targetAllocator.config.collector_namespace | default .Release.Namespace }}
          {{- with .Values.targetAllocator.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.targetAllocator.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{ if .Values.targetAllocator.resources }}
          resources:
            {{- toYaml .Values.targetAllocator.resources | nindent 12 }}
          {{- end }}
      volumes:
        - name: config-volume
          configMap:
            name: {{ template "helper.targetAllocatorConfigMapName" . }}
        - name: serviceaccount-token
          projected:
            defaultMode: 0444
            sources:
              - serviceAccountToken:
                  path: token
              - configMap:
                  name: kube-root-ca.crt
                  items:
                    - key: ca.crt
                      path: ca.crt
              - downwardAPI:
                  items:
                    - path: namespace
                      fieldRef:
                        apiVersion: v1
                        fieldPath: metadata.namespace
{{- with .Values.statefulset.volumeClaimTemplates }}
  volumeClaimTemplates:
  {{- toYaml . | nindent 2 }}
{{- end }}
{{- end }}
