apiVersion: v2
name: opentelemetry-kube-stack
version: 0.0.6
description: |
  OpenTelemetry Quickstart chart for Kubernetes.
  Installs an operator and collector for an easy way to get started with Kubernetes observability.
type: application
home: https://opentelemetry.io/
sources:
  - https://github.com/open-telemetry/opentelemetry-operator
maintainers:
  - name: Allex1
  - name: dmitryax
  - name: TylerHelmuth
icon: https://raw.githubusercontent.com/cncf/artwork/a718fa97fffec1b9fd14147682e9e3ac0c8817cb/projects/opentelemetry/icon/color/opentelemetry-icon-color.png
appVersion: 0.101.0
dependencies:
  - name: crds
    version: "0.0.0"
    condition: crds.install
  - name: opentelemetry-operator
    repository: https://open-telemetry.github.io/opentelemetry-helm-charts
    version: 0.61.0
    condition: opentelemetry-operator.enabled
