collectors:
  daemon:
    # disable Prometheus scrapping
    scrape_configs_file: ""
    presets:
      logsCollection:
        enabled: false
      kubeletMetrics:
        enabled: false
      hostMetrics:
        enabled: false
      kubernetesAttributes:
        enabled: false
      kubernetesEvents:
        enabled: false
      clusterMetrics:
        enabled: false
      annotationDiscovery:
        logs:
          enabled: true
        metrics:
          enabled: true

# Disable cert manager to test the chart
opentelemetry-operator:
  admissionWebhooks:
    certManager:
      enabled: false
    autoGenerateCert:
      enabled: true
