{{- if and (.Values.admissionWebhooks.enabled) (not .Values.admissionWebhooks.certManager.enabled) }}
{{- $altNames := list ( printf "%s.%s" "opentelemetry-operator-webhook-service" .Release.Namespace ) ( printf "%s.%s.svc" "opentelemetry-operator-webhook-service" .Release.Namespace ) -}}
{{- $ca := genCA "opentelemetry-operator-operator-ca" 365 -}}
{{- $cert := genSignedCert (include "opentelemetry-operator.fullname" .) nil $altNames 365 $ca -}}
apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  annotations:
    "helm.sh/hook": "pre-install,pre-upgrade"
    "helm.sh/hook-delete-policy": "before-hook-creation"
  labels:
    {{- include "opentelemetry-operator.labels" . | nindent 4 }}
  name: opentelemetry-operator-controller-manager-service-cert
  namespace: {{ .Release.Namespace }}
data:
  tls.crt: {{ $cert.Cert | b64enc }}
  tls.key: {{ $cert.Key | b64enc }}
---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  labels:
    app.kubernetes.io/name: opentelemetry-operator
  name: {{ template "opentelemetry-operator.name" . }}-mutating-webhook-configuration
  namespace: {{ .Release.Namespace }}
webhooks:
  - admissionReviewVersions:
      - v1
    clientConfig:
      caBundle: {{ $ca.Cert | b64enc }}
      service:
        name: {{ template "opentelemetry-operator.name" . }}-webhook-service
        namespace: {{ .Release.Namespace }}
        path: /mutate-opentelemetry-io-v1alpha1-instrumentation
    failurePolicy: Fail
    name: minstrumentation.kb.io
    rules:
    - apiGroups:
        - opentelemetry.io
      apiVersions:
        - v1alpha1
      operations:
        - CREATE
        - UPDATE
      resources:
        - instrumentations
    sideEffects: None
  - admissionReviewVersions:
      - v1
    clientConfig:
      caBundle: {{ $ca.Cert | b64enc }}
      service:
        name: {{ template "opentelemetry-operator.name" . }}-webhook-service
        namespace: {{ .Release.Namespace }}
        path: /mutate-opentelemetry-io-v1alpha1-opentelemetrycollector
    failurePolicy: {{ .Values.admissionWebhooks.failurePolicy }}
    name: mopentelemetrycollector.kb.io
    rules:
      - apiGroups:
          - opentelemetry.io
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
        resources:
          - opentelemetrycollectors
    sideEffects: None
  - admissionReviewVersions:
      - v1
    clientConfig:
      caBundle: {{ $ca.Cert | b64enc }}
      service:
        name: {{ template "opentelemetry-operator.name" . }}-webhook-service
        namespace: {{ .Release.Namespace }}
        path: /mutate-v1-pod
    failurePolicy: Ignore
    name: mpod.kb.io
    rules:
      - apiGroups:
          - ""
        apiVersions:
          - v1
        operations:
          - CREATE
          - UPDATE
        resources:
          - pods
    sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  annotations:
    cert-manager.io/inject-ca-from: {{ printf "%s/%s-serving-cert" .Release.Namespace (include "opentelemetry-operator.name" .) }}
  labels:
    app.kubernetes.io/name: opentelemetry-operator
  name: {{ template "opentelemetry-operator.name" . }}-validating-webhook-configuration
  namespace: {{ .Release.Namespace }}
webhooks:
  - admissionReviewVersions:
      - v1
    clientConfig:
      caBundle: {{ $ca.Cert | b64enc }}
      service:
        name: {{ template "opentelemetry-operator.name" . }}-webhook-service
        namespace: {{ .Release.Namespace }}
        path: /validate-opentelemetry-io-v1alpha1-instrumentation
    failurePolicy: Fail
    name: vinstrumentationcreateupdate.kb.io
    rules:
    - apiGroups:
        - opentelemetry.io
      apiVersions:
        - v1alpha1
      operations:
        - CREATE
        - UPDATE
      resources:
        - instrumentations
    sideEffects: None
  - admissionReviewVersions:
      - v1
    clientConfig:
      caBundle: {{ $ca.Cert | b64enc }}
      service:
        name: {{ template "opentelemetry-operator.name" . }}-webhook-service
        namespace: {{ .Release.Namespace }}
        path: /validate-opentelemetry-io-v1alpha1-instrumentation
    failurePolicy: Ignore
    name: vinstrumentationdelete.kb.io
    rules:
      - apiGroups:
          - opentelemetry.io
        apiVersions:
          - v1alpha1
        operations:
          - DELETE
        resources:
          - instrumentations
    sideEffects: None
  - admissionReviewVersions:
      - v1
    clientConfig:
      caBundle: {{ $ca.Cert | b64enc }}
      service:
        name: {{ template "opentelemetry-operator.name" . }}-webhook-service
        namespace: {{ .Release.Namespace }}
        path: /validate-opentelemetry-io-v1alpha1-opentelemetrycollector
    failurePolicy: {{ .Values.admissionWebhooks.failurePolicy }}
    name: vopentelemetrycollectorcreateupdate.kb.io
    rules:
      - apiGroups:
          - opentelemetry.io
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
        resources:
          - opentelemetrycollectors
    sideEffects: None
  - admissionReviewVersions:
      - v1
    clientConfig:
      caBundle: {{ $ca.Cert | b64enc }}
      service:
        name: {{ template "opentelemetry-operator.name" . }}-webhook-service
        namespace: {{ .Release.Namespace }}
        path: /validate-opentelemetry-io-v1alpha1-opentelemetrycollector
    failurePolicy: Ignore
    name: vopentelemetrycollectordelete.kb.io
    rules:
      - apiGroups:
          - opentelemetry.io
        apiVersions:
          - v1alpha1
        operations:
          - DELETE
        resources:
          - opentelemetrycollectors
    sideEffects: None
{{- end }}
