name: Test Demo Chart

on:
  pull_request:
    paths:
    - 'charts/opentelemetry-demo/**'
    branches:
      - main

jobs:
  demo-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup
        uses: ./.github/actions/setup
        with:
          create-kind-cluster: "true"

      - name: Run chart-testing (install)
        run: "ct install --charts charts/opentelemetry-demo
          --chart-repos opentelemetry-collector=https://open-telemetry.github.io/opentelemetry-helm-charts
          --chart-repos prometheus=https://prometheus-community.github.io/helm-charts
          --chart-repos grafana=https://grafana.github.io/helm-charts
          --chart-repos jaeger=https://jaegertracing.github.io/helm-charts"
