name: Test Demo Chart

on:
  pull_request:
    paths:
    - 'charts/opentelemetry-demo/**'
    branches:
      - main

permissions:
  contents: read

jobs:
  demo-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
      - name: Setup
        uses: ./.github/actions/setup
        with:
          create-kind-cluster: "true"
          helm-version: "v3.14.4"

      - name: Run chart-testing (install)
        run: "ct install --charts charts/opentelemetry-demo
          --chart-repos opentelemetry-collector=https://open-telemetry.github.io/opentelemetry-helm-charts
          --chart-repos prometheus=https://prometheus-community.github.io/helm-charts
          --chart-repos grafana=https://grafana.github.io/helm-charts
          --chart-repos jaeger=https://jaegertracing.github.io/helm-charts
          --chart-repos opensearch=https://opensearch-project.github.io/helm-charts"
