name: Test Opentelemetry Kube Stack Charts

on:
  pull_request:
    paths:
      - "charts/opentelemetry-kube-stack/**"
    branches:
      - main

permissions:
  contents: read

jobs:
  opentelemetry-kube-stack-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      - name: Setup
        uses: ./.github/actions/setup
        with:
          create-kind-cluster: "true"
          helm-version: "v3.11.3"

      # We'll need this eventually, but for now leave it commented.
      - name: Install cert-manager
        run: |
          kubectl apply -f https://github.com/jetstack/cert-manager/releases/download/v1.6.1/cert-manager.yaml
          kubectl wait --timeout=5m --for=condition=available deployment cert-manager -n cert-manager
          kubectl wait --timeout=5m --for=condition=available deployment cert-manager-webhook -n cert-manager

      - name: Run Helm Install
        run: |
          helm dep build charts/opentelemetry-kube-stack
          helm install opentelemetry-kube-stack charts/opentelemetry-kube-stack
