name: Test Operator Charts

on:
  pull_request:
    paths:
      - 'charts/opentelemetry-operator/**'
    branches:
      - main

permissions:
  contents: read

jobs:
  operator-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Setup
        uses: ./.github/actions/setup
        with:
          create-kind-cluster: "true"

      - name: Check CRDs
        run: make check-operator-crds

      - name: Install Openshift route crd
        run: kubectl apply -f https://raw.githubusercontent.com/openshift/router/master/deploy/route_crd.yaml

      - name: Install Prometheus CRDs
        run: |
          kubectl apply -f https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/main/example/prometheus-operator-crd/monitoring.coreos.com_servicemonitors.yaml
          kubectl apply -f https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/main/example/prometheus-operator-crd/monitoring.coreos.com_podmonitors.yaml

      - name: Install cert-manager
        run: |
          kubectl apply -f https://github.com/jetstack/cert-manager/releases/download/v1.6.1/cert-manager.yaml
          kubectl wait --timeout=5m --for=condition=available deployment cert-manager -n cert-manager
          kubectl wait --timeout=5m --for=condition=available deployment cert-manager-webhook -n cert-manager

      - name: Run chart-testing (install)
        run: ct install --charts charts/opentelemetry-operator

      - name: Get opentelemetry-operator repository
        run: |
          appVersion=$(cat ./charts/opentelemetry-operator/Chart.yaml | sed -nr 's/appVersion: ([0-9]+\.[0-9]+\.[0-9]+)/\1/p')
          git clone -b v"$appVersion" --single-branch https://github.com/open-telemetry/opentelemetry-operator.git ./opentelemetry-operator

      - name: Install chainsaw
        uses: kyverno/action-install-chainsaw@06560d18422209e9c1e08e931d477d04bf2674c1 # v0.2.14

      - name: Install metrics-server
        run: |
          kubectl apply -f https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml
          kubectl patch deployment -n kube-system metrics-server --type "json" -p '[{"op": "add", "path": "/spec/template/spec/containers/0/args/-", "value": --kubelet-insecure-tls}]'
          kubectl wait --for=condition=available deployment/metrics-server -n kube-system  --timeout=5m

      - name: Install opentelemetry-operator chart
        run: |
          helm install --namespace=opentelemetry-operator-system --create-namespace opentelemetry-operator-controller-manager ./charts/opentelemetry-operator \
            --set 'manager.extraArgs[0]="--enable-go-instrumentation"' \
            --set "manager.collectorImage.repository=ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector-k8s" \
            --set "manager.podLabels.control-plane=controller-manager" \
            --set "manager.extraEnvs[0].name=NAMESPACE" \
            --set "manager.extraEnvs[0].valueFrom.fieldRef.fieldPath=metadata.namespace"
          kubectl wait --timeout=5m --for=condition=available deployment opentelemetry-operator-controller-manager -n opentelemetry-operator-system

      - name: Run e2e tests
        working-directory: ./opentelemetry-operator
        # see upstream https://github.com/open-telemetry/opentelemetry-helm-charts/issues/1180 for flaky test
        run: |
          mkdir -p ./.testresults/e2e
          chainsaw test --test-dir ./tests/e2e --exclude-test-regex "chainsaw/multiple-configmaps" --exclude-test-regex "chainsaw/smoke-pod-dns-config" --exclude-test-regex "chainsaw/operator-metrics"

  operator-test-no-certmanager:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Setup
        uses: ./.github/actions/setup
        with:
          create-kind-cluster: "true"

      - name: Check CRDs
        run: make check-operator-crds

      - name: Install Openshift route crd
        run: kubectl apply -f https://raw.githubusercontent.com/openshift/router/master/deploy/route_crd.yaml

      - name: Install Prometheus CRDs
        run: |
          kubectl apply -f https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/main/example/prometheus-operator-crd/monitoring.coreos.com_servicemonitors.yaml
          kubectl apply -f https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/main/example/prometheus-operator-crd/monitoring.coreos.com_podmonitors.yaml

      - name: Run chart-testing (install)
        run: ct install --charts charts/opentelemetry-operator --helm-extra-set-args "--set=admissionWebhooks.certManager.enabled=false"

      - name: Get opentelemetry-operator repository
        run: |
          appVersion=$(cat ./charts/opentelemetry-operator/Chart.yaml | sed -nr 's/appVersion: ([0-9]+\.[0-9]+\.[0-9]+)/\1/p')
          git clone -b v"$appVersion" --single-branch https://github.com/open-telemetry/opentelemetry-operator.git ./opentelemetry-operator

      - name: Install chainsaw
        uses: kyverno/action-install-chainsaw@06560d18422209e9c1e08e931d477d04bf2674c1 # v0.2.14

      - name: Install metrics-server
        run: |
          kubectl apply -f https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml
          kubectl patch deployment -n kube-system metrics-server --type "json" -p '[{"op": "add", "path": "/spec/template/spec/containers/0/args/-", "value": --kubelet-insecure-tls}]'
          kubectl wait --for=condition=available deployment/metrics-server -n kube-system  --timeout=5m

      - name: Install opentelemetry-operator chart
        run: |
          helm install --namespace=opentelemetry-operator-system --create-namespace opentelemetry-operator-controller-manager ./charts/opentelemetry-operator \
            --set 'manager.extraArgs[0]="--enable-go-instrumentation"' \
            --set "manager.collectorImage.repository=ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector-k8s" \
            --set "manager.podLabels.control-plane=controller-manager" \
            --set "admissionWebhooks.certManager.enabled=false" \
            --set "manager.extraEnvs[0].name=NAMESPACE" \
            --set "manager.extraEnvs[0].valueFrom.fieldRef.fieldPath=metadata.namespace"
          kubectl wait --timeout=5m --for=condition=available deployment opentelemetry-operator-controller-manager -n opentelemetry-operator-system

      - name: Run e2e tests
        working-directory: ./opentelemetry-operator
        # see upstream https://github.com/open-telemetry/opentelemetry-helm-charts/issues/1180 for flaky test
        run: |
          mkdir -p ./.testresults/e2e
          chainsaw test --test-dir ./tests/e2e --exclude-test-regex "chainsaw/multiple-configmaps" --exclude-test-regex "chainsaw/smoke-pod-dns-config" --exclude-test-regex "chainsaw/operator-metrics"
