name: Coralogix-OpenTelemetry-Collector-Helm-Chart
on:
  push:
    branches: main
    paths:
    - 'charts/opentelemetry-collector/**'

env:
  CHART_VERSION: $(yq eval '.version' charts/opentelemetry-collector/Chart.yaml)
  CHART_NAME: opentelemetry-collector
  ARTIFACTORY_URL: https://cgx.jfrog.io/artifactory/
  ARTIFACTORY_USERNAME: integrations-actions

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2.4.0
      -
        name: Setup Helm Repo
        run: |
          cd charts/opentelemetry-collector
          helm package .
      -
        name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v2.1.0
        with:
          version: 2.12.1
      -
        name: use-jfrog-cli
        run: |
          cd charts/opentelemetry-collector
          jfrog rt upload --access-token ${{ secrets.ARTIFACTORY_NONUSER_ACCESS_TOKEN }} "${{ env.CHART_NAME }}-*.tgz" coralogix-charts --url ${{ env.ARTIFACTORY_URL }}
