name: Sync README to gh-pages

permissions: {}

on:
  push:
    branches:
      - main
    paths:
      - 'README.md'

jobs:
  sync:
    permissions:
      contents: write

    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Copy README to temp
        run: cp -f README.md ${{ runner.temp }}/README.md

      - name: Checkout gh-pages
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: gh-pages

      - name: Sync README and push
        run: |
          cp -f ${{ runner.temp }}/README.md .
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git add README.md
          git commit --signoff -m "Sync README from main" || exit 0
          git push
