name: Sync README to gh-pages

permissions: {}

on:
  push:
    branches:
      - main
    paths:
      - 'README.md'

jobs:
  sync:
    permissions:
      contents: write

    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Copy README to temp
        run: cp -f README.md ${{ runner.temp }}/README.md

      - name: Checkout gh-pages
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: gh-pages

      - name: Sync README and push
        run: |
          cp -f ${{ runner.temp }}/README.md .
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git add README.md
          git commit --signoff -m "Sync README from main" || exit 0
          git push
